.login {
  width: 100%;
  height: 100%;
  .login-header {
    font-size: 2rem;
    text-align: center;
    padding: 50px 0px 25px 0;
  }
  .form {
    width: 100%;
    .input {
      display: flex;
      justify-content: center;
      padding: 10px;
    }
    .button-container {
      display: flex;
      justify-content: center;
      padding-top: 25px;
      input {
        width: 50%;
        border-radius: 25px;
        background-color: #eaaaa1;
        color: white;
        height: 20px;
        padding: 20px;
        cursor: pointer;
        line-height: 0px;
        border: none;
      }
    }
  }
  .login-error{
    padding: 10px;
    color: red;
    text-align: center;
    width: 100%
  }
}